.banner {
	height: 40vw;
	width: 100%;

	display: flex;
	justify-content: center;
	padding-top: 10vh;
	margin-bottom: 5vw;
	overflow-y: hidden;
}

.bannerImage {
	width: 30vw;
	height: auto;
}

.bannerText {
	margin: 0;
	height: 100%;
	display: flex;
	flex-direction: column;
	margin-top: 5vw;

	margin-left: 10vw;
	font-size: 2vw;
}

.bannerButtonDiv {
	margin-top: 2vw;
	display: flex;
	gap: 1.2vw;
}

.bannerButton {
	background: #5eb2ba;
	color: white;
	padding: 0.5vw 1vw;
	border: none;
	border-radius: 1.2vw;
	font-size: 1.1vw;

	cursor: pointer;
	transition: background-color 0.2s ease; /* Add transition to background-color */
}

.bannerButton:hover {
	background-color: #79cdd7; /* Lighter color for hover state */
}

.bannerButton:active {
	background-color: #46939b;
}

@media (max-width: 650px) {
	.banner {
		height: 50vw;
		padding-top: 20vw;
	}
	.bannerText {
		font-size: 2.8vw;
		margin-left: 5vw;
	}
	.bannerButton {
		font-size: 1.6vw;
	}
	.bannerButtonDiv {
		gap: 2vw;
	}
}
